@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* THEMEING */
:root {
    --font: #e8f4ff;
    --background-secundary: #222222;
    --background: #181818;
}
body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Noto Sans', sans-serif;
}
* {transition: all .5s;}
a {
    color: var(--font);
    text-decoration: none;
}
#bemvido {
    text-align: center;
    padding-top: 0;
}
.error404 {
    font-size: 0.7em;
}
.error404.on {
    height: 100px;
    overflow: hidden;
}
.error404.off {
    height: 0;
    overflow: hidden;
}
a .logo {
    color: var(--font);
}
a {
    cursor: pointer;
}
/* LOGO */
.logo {
    font-family: 'Architects Daughter', cursive;
    text-align: right;
	color: var(--primary-color);
}

/* FORMS */
form {
    margin-bottom: 2em;
}
form input,
form textarea,
form select,
form option {
    padding: 1em 1em;
    color: var(--font);
    background: var(--background-secundary);
    border: 0;
    outline: none;
    font-size: 1em;
    line-height: 24px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
}

form input,
form textarea {
	margin-bottom: 1em;
}

form label {
    font-size: .9em;
}
textarea {
	resize: none;
}
button {
    padding: 1em 1em;
    color: var(--font);
    background: var(--background-secundary);
    border: var(--background-secundary) 1px solid;
    outline: none;
    font-size: 1em;
    line-height: 24px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase
}
button:hover {
    border: 0;
    border: var(--font) 1px solid;
}

/* BUTTONS */
.daddy-button {
    width: 100%;
}
.button {
	padding: .8em;
    margin: .8em 0;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
.button:hover {
	background-color: var(--background-secundary);
}
.button.big {
	padding: 2em;
	border: 2px solid var(--primary-color);
	border-radius: 5px;
}

/* FOOTER */
footer,
footer p{
	margin: 0;
	padding: 0;
}
footer {
	padding: 1em 0;
    border-top: 2px solid var(--primary-color);
	margin-top: 2em;
	display: flex;
	justify-content: space-evenly;
}


@media screen and (min-width: 1023px) {
    /* HTML */
    html {
        max-width: 1024px;
        margin: auto;
    }
}

/* Medias */

@media screen and (min-width: 768px) {
    .board+.board {
        margin-top: 0;
    }
    .box-board {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: .8em;
    }
}
